@font-face {
   font-family: Breplay;
   src: url(font/bpreplay.woff);
 }

@font-face {
  font-family: Breplay-Bold;
  src: url(font/breplay-bold.woff);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #ecf0f1;
  min-height: 100%;
  width: 100%;
  font-family: Breplay;
  color: #434343;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

#mainContainer {
  height: 100%;
  display: block;
}

#side-menu {
  padding-top: 30px;
  border-right: 1px solid #ccc;
  background: #2c3e50;
  color: #ddd;
  height: 100vh;
}

#side-menu ul li {
  list-style: none;
  display: block;
  padding: 30px;
  font-size: 17px;
  position: relative;
}

#side-menu ul li.active {
  background: #aa5d39;
  font-family: Breplay-Bold;
  color: #ffffff
}

#side-menu ul li.active:after {
  position: absolute;
  left: 100%;
  top: 0;
  border: 43px solid transparent;
  border-left: 30px solid #aa5d39;
  content: '';
}

.content-container {
  padding: 20px 0;
}

.inlineBlock {
  display: inline-block;
}

.rightMenu {
  float: right;
  margin-top: 15px;
}

input[type='number'] {
  max-width: 50px;
  padding: 5px;
  border: 0;
}

input[type='number']:focus {
  border-bottom: 1px solid rgba(0, 188, 212);
}

.paper {
  background: #ffffff;
  padding: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

div.styledInput {
  position: relative;
}

table#formBook {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-collapse: separate;
}

table#formBook td {
  padding: 10px;
  border: 1px solid #ddd;
}

div.styledInput label {
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #ccc;
  margin: 0;
  padding: 5px;
}

div.styledInput label.filled {
  color: #2980b9;
}

div.styledInput input,
div.styledInput input:focus,
div.styledInput textarea {
  border-radius: 0;
  border: 0;
  width: 100%;
  border-bottom: 2px dashed #ccc;
  padding: 5px;
}

.formBookTitle {
  font-size: 2em;
}
